<section style="padding: 15px; border: 1px solid #ccc; margin-bottom: 20px;">
  <providerIn></providerIn>
  <br>
  <ngModuleProvider></ngModuleProvider>
  <br>
  <viewProvider></viewProvider>
  <br>
</section>

<!-- <section style="padding: 15px; border: 1px solid #ccc; margin-bottom: 20px;">
  <useFactory></useFactory>
</section> -->

<section>
  <DI-comp></DI-comp>
</section>

<section>
  <h3>Name-manage</h3>
  <single-info *ngFor="let person of persons" [infoReturn]="person"></single-info>
</section>
